@(
  event: service.filestore.EventManager.Event,
  item: service.filestore.FileStore.FileOrFolder
)
@import java.net.URL
@import service.filestore.FileStore.{File, Folder}
@import _root_.notification.NotificationManager.absUrl

@item match {
  case file: File => {
    @file.getAuthor match {
      case null => {
        Somebody
      }
      case author: models.User => {
        <a href="mailto:@author.getEmail">@author.getName</a>
      }
    }
    @(event.`type`)d
    <a href="@absUrl(file)">
      @file.getPath()
    </a>
  }
  case folder: Folder => {
    <a href="@absUrl(folder)">
      @folder.getPath())
    </a>
    was
    @(event.`type`)d
  }
}