@(
  event: service.EventManager.Event,
  item: service.filestore.FileStore.FileOrFolder
)
@import java.net.URL
@import service.filestore.FileStore.{File, Folder}
@import _root_.notification.NotificationManager.absUrl

@defining(event.`type`.split(':').last) { eventType =>
  @item match {
    case file: File => {
      @file.getAuthor match {
        case null => {
          Somebody
        }
        case author: models.User => {
          <a href="mailto:@author.getEmail">@author.getName</a>
        }
      }
      @(eventType)d
      <a href="@absUrl(file)">
        @file.getPath()
      </a>
    }
    case folder: Folder => {
      <a href="@absUrl(folder)">
        @folder.getPath())
      </a>
      was
      @(eventType)d
    }
  }
}