@(
  lastEventId: String,
  filestoreJson: org.codehaus.jackson.node.ArrayNode,
  usersJson: org.codehaus.jackson.node.ArrayNode
)


@import views.html.Application.main

@main("AORRA Files and Folders") {

  @templates()

  <div class="col-lg-6 col-offset-3" id="loading-progress">
    <h4>Loading application...</h4>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </div>
  
  <script type="text/javascript">
  // Update progress bar
  var updateModuleProgress = function(context, map, depMaps) {
    // console.log('loading: ' + map.name + ' at ' + map.url);
    var $outerBar = $('#loading-progress .progress');
    var $innerBar = $outerBar.find('.bar');
    var maxWidth = $outerBar.width();
    var parts = 10;
    $innerBar.width(Math.min(maxWidth, $innerBar.width() + maxWidth / parts));
  };

  require.onResourceLoad = function(context, map, depMaps) {
    updateModuleProgress(context, map, depMaps);
  };
  </script>
  
  <script id="main-layout" type="text/html">
  <div class="col-lg-4" id="sidebar"></div>
  <div class="col-lg-8" id="main"></div>
  </script>

  <script type="text/javascript">
  window.lastEventID = "@lastEventId";
  window.filestoreJSON = @Html(filestoreJson.toString());
  window.usersJSON = @Html(usersJson.toString());

  // Load application
  requirejs(['app']);
  </script>

}


