@(
  lastEventId: String,
  filestoreJson: org.codehaus.jackson.node.ArrayNode
)


@import views.html.Application.main

@main("AORRA Files and Folders", true) {

<script id="main-layout" type="text/html">
  <div class="span4" id="sidebar"></div>
  <div class="span8" id="main"></div>
</script>

<script src="@routes.Assets.at("js/lib/glyphtree.js")"></script>
@helper.requireJs(
  core = routes.Assets.at("javascripts/require.js").url, 
  module = routes.Assets.at("js/main.js").url,
  folder = "/js")
}
<script type="text/javascript">
window.lastEventID = "@lastEventId";
window.filestoreJSON = @Html(filestoreJson.toString());
</script>
