@(
  lastEventId: String,
  filestoreJson: com.fasterxml.jackson.databind.node.ArrayNode,
  usersJson: com.fasterxml.jackson.databind.node.ArrayNode
)


@import views.html.Application.main

@main("AORRA Files and Folders") {

  @templates()

  <div id="loading-progress" class="col-md-6 col-md-offset-3">
    <h4>Loading application...</h4>
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 0%;"></div>
    </div>
  </div>
  
  <div id="not-supported-msg" style="display: none"
      class="col-md-6 col-md-offset-3">
    <h1>This web browser is not supported!</h1>
    <h1 class="text-center"><i class="fa fa-frown-o fa-5x"></i></h1>
    <p>
    Your web browser does not provide some features which
    are required by this web application.
    </p>
    <p>
    Try accessing this page with
    <a href="https://chrome.google.com/">Google Chrome</a>
    or
    <a href="https://www.mozilla.org/firefox/">Mozilla Firefox</a>
    instead.
    </p>
  </div>

  <script type="text/javascript">
  window.lastEventID = "@lastEventId";
  window.filestoreJSON = @Html(filestoreJson.toString());
  window.usersJSON = @Html(usersJson.toString());

  // Update progress bar
  var updateModuleProgress = function(context, map, depMaps) {
    //console.log('loading: ' + map.name + ' at ' + map.url);
    var $outerBar = $('#loading-progress .progress');
    var $innerBar = $outerBar.find('.progress-bar');
    var maxWidth = $outerBar.width();
    var parts = 5;
    $innerBar.width(Math.min(maxWidth, $innerBar.width() + maxWidth / parts));
  };
  
  var unsupported = function() {
    $('#loading-progress').hide();
    $('#not-supported-msg').show();
  };

  $(window).on('load', function() {
    if (Modernizr.history) {
      requirejs(['main'], function() {
        require.onResourceLoad = function(context, map, depMaps) {
          updateModuleProgress(context, map, depMaps);
        };
        requirejs(['app']);
      });
    } else {
      unsupported();
    }
  });
  </script>

}


