@()

@import views.html.js.tmpl

@tmpl("alert_box")
@tmpl("chart")
@tmpl("charts")
@tmpl("change_password")
@tmpl("comment_view")
@tmpl("comments_view")
@tmpl("create_new")
@tmpl("delete_button")
@tmpl("deleted_page")
@tmpl("download_button_multiple")
@tmpl("download_button_single")
@tmpl("move_button")
@tmpl("file_info_view")
@tmpl("file_typeahead")
@tmpl("file_upload")
@tmpl("file_tree")
@tmpl("file_view")
@tmpl("filediff_view")
@tmpl("flag_button")
@tmpl("fof_name_view")
@tmpl("folder_view")
@tmpl("group")
@tmpl("group_membership")
@tmpl("html_editor")
@tmpl("img_view")
@tmpl("link_popup")
@tmpl("loading_page")
@tmpl("main_layout")
@tmpl("manage_groups")
@tmpl("no_editor")
@tmpl("notification_message")
@tmpl("notifications_nav_item")
@tmpl("notifications_view")
@tmpl("permission_row")
@tmpl("permission_table")
@tmpl("search_box")
@tmpl("search_result")
@tmpl("settings")
@tmpl("start_page")
@tmpl("user_avatar")
@tmpl("user_menu")
@tmpl("user_typeahead")
@tmpl("version_row")
@tmpl("version_table")