@()

@import views.html.js.tmpl

@tmpl("alert_box")
@tmpl("breadcrumbs")
@tmpl("chart")
@tmpl("charts")
@tmpl("chart_list")
@tmpl("chart_selector")
@tmpl("chart_with_caption")
@tmpl("change_password")
@tmpl("create_folder")
@tmpl("delete_button")
@tmpl("deleted_page")
@tmpl("file_typeahead")
@tmpl("file_upload")
@tmpl("file_view")
@tmpl("filediff_view")
@tmpl("flag_button")
@tmpl("folder_view")
@tmpl("html_editor")
@tmpl("img_view")
@tmpl("link_popup")
@tmpl("loading_page")
@tmpl("main_layout")
@tmpl("markdown_viewer")
@tmpl("no_editor")
@tmpl("notification_message")
@tmpl("notifications_nav_item")
@tmpl("notifications_view")
@tmpl("permission_row")
@tmpl("permission_table")
@tmpl("start_page")
@tmpl("user_avatar")
@tmpl("user_menu")
@tmpl("version_row")
@tmpl("version_table")