@import views.html.Application.main

@main("File Upload Test") {
<input id="fileupload" type="file" name="files[]" data-url="upload" multiple>

<dl>
  <dt>Upload to:</dt>
  <dd>
    <input type="text" disabled id="folderselect" value="/"/>
  </dd>
</dl>

<div id="filetree"></div>
<script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
<script src="@routes.Assets.at("javascripts/glyphtree.min.js")"></script>
<script type="text/javascript">
var tree;
$(function () {
  $('#fileupload').fileupload({
    dataType: 'json',
    add: function (e, data) {
      $('#fileupload').fileupload(
        'option',
        'url',
        '@controllers.routes.FileStoreController.upload'+$('#folderselect').val()
      );
      data.submit();
    },
    done: function (e, data) {
      $.each(data.result.files, function (index, file) {
        $('<p/>').text(file.name).insertAfter("#fileupload");
      });
    }
  });
  tree = glyphtree($('#filetree'), {
    startExpanded: true,
    types: {
      folder: {
        icon: {
          "default": {
            content: "\uf07b",
            'font-family': "FontAwesome"
          },
          expanded: {
            content: "\uf07c",
            'font-family': "FontAwesome"
          }
        }
      },
      file: {
        icon: {
          leaf: {
            content: "\uf016",
            'font-family': "FontAwesome"
          }
        }
      }
    }
  });
  selectHandler = function(event, node) {
    if (node.type == 'folder') {
      $('.label.label-success').removeClass('label label-success');
      $("#folderselect").val(node.attributes.path);
      $(node.element()).children('.glyphtree-node-label')
        .addClass('label label-success');
    }
  }
  tree.events.label.click = [selectHandler];
  
  var eventHandlers = {
    ping:   function(message) { /*console.log(message);*/ },
    load:   function(struct) { tree.load(struct); },
    create:    function(struct) { tree.add(struct, struct.parentId); },
    update: function(struct) { tree.update(struct); },
    'delete': function(struct) { tree.remove(struct.id); }
  };
  
  var notificationUrl = '@controllers.routes.FileStoreAsync.notifications';
  
  // Are we using a modern browser, or are we using IE?
  if (typeof(window.EventSource) == 'undefined') {
    // HTML iframe
    function connect_htmlfile(url, callback) {
      var ifrDiv = document.createElement("div");
      ifrDiv.setAttribute("style", "display: none");
      document.body.appendChild(ifrDiv);
      ifrDiv.innerHTML = "<iframe src=\"" + url + "\"><\/iframe>";
      
      // From: http://davidwalsh.name/window-iframe
      var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
      var eventer = window[eventMethod];
      var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
      eventer(messageEvent, function(e) {
        var msg = JSON.parse(e.data);
        callback(msg.type, msg.data);
      }, false);
    }
    connect_htmlfile(notificationUrl, function(eventType, data) {
      eventHandlers[eventType](data);
    });
  } else {
    // EventSource
    var es = new EventSource(notificationUrl);
    es.addEventListener('ping', function(event) {
      eventHandlers.ping(event.data);
    });
    $.each(['load', 'create', 'update', 'delete'], function(i, n) {
      es.addEventListener(n, function(event) {
        var struct = JSON.parse(event.data);
        eventHandlers[n](struct);
      });
    });
  }
});
</script>
}
