/* Make short labels easily selectable */
span.glyphtree-node-label {
	display: inline-block;
	min-width: 2em;
}

.hero-page {
	background: 
	 url("/assets/images/bg.jpg")
	 no-repeat
	 center
	 center
	 fixed;
  background-size: cover;
	overflow: hidden;
	background-color: black;
	min-height: 400px;
}

.hero-page h1#big-headline {
	color: #f8f8f8;
	font-weight: bold;
	line-height: 120%;
  font-size: 500%;
  text-shadow: 0 2px 0 black;
}

.hero-page .well {
	border: 0;
	background-color: #222222; /* IE8 */
	background-color: rgba(0,0,0,0.6);
}

.hero-page .well h1, .hero-page .well p {
	color: white;
}

.hero-page .well a {
  font-weight: bold;
  white-space: nowrap;
}

.hero-page .well a:hover {
  color: inherit;
}

.hero-page .login-container {
  text-align: center;
}

.hero-page .login-container p {
  font-style: italic;
}

.hero-page h1#big-headline small {
	font-size: 30%;
	display: block;
  color: inherit;
}

.hero-page h1#big-headline .word {
  display: inline;
  white-space: nowrap;
}

.hero-page h1#big-headline .word .first {
	font-weight: bold;
}

@media (min-width: 980px) {
	.hero-page .login-container .control-group {
	  display: inline;
	}
}

@media (min-width: 768px) {
	.hero-page .above-login {
	  padding-top: 4em;
	  min-height: 8em;
	}
}

.hero-page .attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 1em;
}

.hero-page .attribution > a {
	color: white;
}
