/* Make short labels easily selectable */
span.glyphtree-node-label {
	display: inline-block;
	min-width: 2em;
}

.hero-page {
	background: 
	 url("/assets/images/bg.jpg")
	 no-repeat
	 center
	 center
	 fixed;
  background-size: cover;
	overflow: hidden;
	background-color: black;
	min-height: 400px;
}

.hero-page h1#big-headline {
	color: #f8f8f8;
	font-weight: bold;
	line-height: 120%;
  text-align: center;
  font-size: 500%;
  text-shadow: 0 2px 0 black;
}

.hero-page .well {
	border-width: 0;
	border-color: rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.6);
}

.hero-page h1#big-headline small {
	font-size: 30%;
	display: block;
}

.hero-page h1#big-headline .word {
  color: white;
  display: inline;
  white-space: nowrap;
}

.hero-page h1#big-headline .word .first {
	font-weight: bold;
}

.hero-page .login-container {
  text-align: center;
}

@media (min-width: 980px) {
	.hero-page .login-container .control-group {
	  display: inline;
	}
}

.hero-page .attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 1em;
}

.hero-page .attribution > a {
	color: white;
}

.hero-page .attribution-content {
	display: none;
}
