<div class="tabbable">
  <ul class="nav nav-tabs">
    {{#charts}}
    <li{{#first}} class="active"{{/first}} style="width: 8em; font-size: 75%">
      <a href="#chart-image-{{slug}}" data-toggle="tab">
        {{title}}
      </a>
    </li>
    {{/charts}}
  </ul>
  <div class="tab-content">
    {{#charts}}
    <div class="tab-pane {{#first}}active{{/first}}" id="chart-image-{{slug}}">
      <img src="{{url}}" alt="Chart for {{region}}" />
      <p class="commentary" data-url="{{html}}"></p>
      <p>
      <a href="{{csv}}">
        <i class="icon-table"></i>
        Download as CSV
      </a>
      </p>
    </div>
    {{/charts}}
  </div>
</div>