<div class="input-group">
  <input type="text" class="form-control" placeholder="File ID">
  <span class="input-group-btn">
    <button class="btn btn-default btn-get-charts"
      title="Find Charts" type="button">
      <i class="fa fa-arrow-right"></i>
    </button>
  </span>
</div>
<ul class="list-unstyled chart-list">
{{#charts}}
<li><a href="#" data-url="{{url}}">{{type}} - {{region}}</a></li>
{{/charts}}
{{#initialized}}
{{^charts}}
<li>No charts</li>
{{/charts}}
{{/initialized}}
</li>
</ul>