<p>
  <a class="btn btn-default" href="{{zip}}">
    <i class="fa fa-download"></i>
    Download Charts
  </a>
</p>
<div class="tabbable">
  <ul class="nav nav-tabs">
    {{#regions}}
    <li{{#first}} class="active"{{/first}} style="width: 8em; font-size: 75%">
      <a href="#chart-region-{{slug}}" data-toggle="tab">
        {{title}}
      </a>
    </li>
    {{/regions}}
  </ul>
  <div class="tab-content">
    {{#regions}}
    <div class="tab-pane {{#first}}active{{/first}}" id="chart-region-{{slug}}">
    {{#chart}}
       {{> chart}}
    {{/chart}}
    {{^chart}}
      <div class="tabbable">
        <ul class="nav nav-tabs">
          {{#charts}}
          <li{{#first}} class="active"{{/first}} style="width: 8em; font-size: 75%">
            <a href="#chart-image-{{slug}}" data-toggle="tab">
              {{title}}
            </a>
          </li>
          {{/charts}}
        </ul>
        <div class="tab-content">
          {{#charts}}
          <div class="tab-pane {{#first}}active{{/first}}" id="chart-image-{{slug}}">
            {{> chart}}
          </div>
          {{/charts}}
        </div>
      </div>
    {{/chart}}
    </div>
    {{/regions}}
  </div>
</div>