<div class="js-img-container">
  <a href="{{url}}" target="_blank" title="Click to open full-size">
    <img src="{{url}}" alt="Chart for {{region}}" style="width: 100%" />
  </a>
</div>
<p>
Download as: 
<div class="btn-group">
  <a class="btn btn-default" href="{{csv}}">
    <i class="fa fa-table"></i>
    CSV
  </a>
  <a class="btn btn-default" href="{{emf}}" title="EMF">
    <i class="fa fa-picture-o" title="Image"></i>
    Vector (MS Office)
  </a>
  <a class="btn btn-default" href="{{svg}}" title="SVG">
    <i class="fa fa-picture-o" title="Image"></i>
    Vector (print)
  </a>
  <a class="btn btn-default" href="{{png}}" title="PNG">
    <i class="fa fa-picture-o" title="Image"></i>
    Raster (web)
  </a>
</div>
</p>