<div class="media">
  {{#author}}
  <a class="pull-left" href="#">
    <img class="media-object img-rounded"
      title="{{name}}"
      src="{{image}}">
  </a>
  {{/author}}
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          {{#mine}}
          <button class="js-edit btn btn-link btn-xs">Edit</button>
          {{/mine}}
        </div>
        {{#author}}
      	<span class="text-muted">{{name}}</span>
        {{/author}}
        {{^author}}
        <span class="text-muted">Deleted User</span>
        {{/author}}
        <div class="pull-right text-muted">
          <i class="fa fa-clock-o" title="Last modified"></i>
          <span class="text-muted modified">{{modified}}</span>
          &#x2003;
        </div>
        <div class="pull-right text-muted">
          {{^isCurrent}}
          about a previous version
          &#x2003;
          {{/isCurrent}}
        </div>
      </div>
      <div class="panel-body">
        <div class="js-message"
          style="white-space: pre-line">{{message}}</div>
      </div>
    </div>
  </div>
</div>