<div class="region-breadcrumbs"></div>
<div class="region-name"></div>

<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="region-info"></div>
	</div>
  <div class="col-xs-12 col-sm-8">
    <div class="region-buttons pull-right"></div>
    <div class="clearfix"></div>
    <br/>
  </div>
</div>

<ul class="display-toggle nav nav-tabs nav-justified">
  <li class="show-content active">
    <a class="not-link"
      title="Show the content of this file"
      href="#">Content</a>
  </li>
  <li class="show-versions">
    <a class="not-link"
      title="Show previous versions of this file"
      href="#">Versions</a>
  </li>
  <li class="show-comments">
    <a class="not-link"
      title="Show comments about this file"
      href="#">Comments</a>
  </li>
</ul>

<br/>

<div class="region-display"></div>

<div class="clearfix"></div>
<hr/>

{{#hasWrite}}
<div class="region-upload"></div>
{{/hasWrite}}