<div class="region-breadcrumbs"></div>
<h2>
  <span class="name"
    {{#canRename}}style="cursor: pointer" title="Click to rename"{{/canRename}}>
    {{name}}
  </span>
  <input style="display: none" class="name" value="{{name}}"/>
</h2>

<div class="row">
	<div class="col-xs-12 col-sm-4">
		<span class="text-muted">
      <i class="fa fa-clock-o" title="Last updated"></i>
      <abbr title="{{prettyModification}}" style="white-space: nowrap;">
      {{sinceModification}}
      </abbr>
    </span>
	</div>
  <div class="col-xs-12 col-sm-8">
    <div class="region-buttons text-right"></div>
  </div>
</div>

<ul class="display-toggle nav nav-tabs nav-justified">
  <li class="show-content active">
    <a class="not-link"
      title="Show the content of this file"
      href="#">Content</a>
  </li>
  <li class="show-versions">
    <a class="not-link"
      title="Show previous versions of this file"
      href="#">Versions</a>
  </li>
</ul>

<br/>

<div class="region-display"></div>

<div class="clearfix"></div>
<hr/>

{{#hasWrite}}
<h3>Upload new version</h3>
<div class="region-upload"></div>
{{/hasWrite}}