{{#exists}}
<h3>Upload new version</h3>
{{/exists}}
{{^exists}}
<h3>Upload file</h3>
{{/exists}}

<span class="js-fileapi-wrapper" style="position: relative;">
  <input type="file" name="files[]" {{#multiple}}multiple{{/multiple}} />
</span>

<br/>

<div class="js-progress progress" style="display: none">
  <div class="upload-error progress-bar progress-bar-danger"
    style="width: 0"></div>
  <div class="upload-done progress-bar progress-bar-success"
    style="width: 0"></div>
  <div class="upload-progress progress-bar progress-bar-warning"
    style="width: 0"></div>
</div>

<div class="js-alerts"></div>