<div class="region-breadcrumbs"></div>
<div class="region-buttons pull-right"></div>
<h2>
  <span class="name"
    {{#canRename}}style="cursor: pointer" title="Click to rename"{{/canRename}}>
    {{name}}
  </span>
  <input style="display: none" class="name" value="{{name}}"/>
</h2>
<div class="clearfix"></div>

<ul class="display-toggle nav nav-pills nav-justified">
  <li class="show-content active">
    <a class="not-link" href="#">Content</a>
  </li>
  <li class="show-versions">
    <a class="not-link" href="#">Versions</a>
  </li>
</ul>

<br/>

<div class="region-display"></div>

<hr/>

{{#hasWrite}}
<h3>Upload new version</h3>
<div class="region-upload"></div>
{{/hasWrite}}