<span class="counter-button input-group" title="{{tooltip}}">
  <span class="input-group-btn">
    <button class="btn btn-default {{activeClass}}">
      <i class="icon-{{icon}}"></i>
      <span class="hidden-phone">{{title}}</span>
    </button>
  </span>
  <span class="form-control uneditable-input clickable"
    data-html="true"
    data-toggle="popover"
    data-placement="bottom"
    data-trigger="click">
    {{count}}
  </span>
  <div class="counter-button-content hidden">
    <ul class="list-unstyled">
      {{#users}}
      <li>
        <a href="mailto:{{email}}">{{name}}</a>
      </li>
      {{/users}}
    </ul>
  </div>
</span>