<div class="tabbable">
  {{#editable}}
  <div>
    <p class="pull-right text-muted">
    Use <code>ctrl + right click</code> to correct spelling.
    </p>
    <div class="pull-left">
      <button class="btn btn-primary save">
      Save Changes
      </button>
    </div>
    <div class="clearfix"></div>
    <br/>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a href="#html-tab" data-toggle="tab">HTML</a>
    </li>
    <li>
      <a href="#html-diff-tab" data-toggle="tab">Compare Differences</a>
    </li>
  </ul>
  {{/editable}}
  <div class="tab-content">
    <div class="tab-pane active" id="html-tab">
      <div class="html-pane" {{#editable}}contenteditable="true" spellcheck="true"{{/editable}}>{{{html}}}</div>
    </div>
    {{#editable}}
    <div class="tab-pane" id="html-diff-tab">
      <div class="diff-pane">{{{html}}}</div>
    </div>
    {{/editable}}
  </div>
</div>