<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#html-tab" data-toggle="tab">HTML</a>
    </li>
    {{#editable}}
    <li>
      <a href="#html-diff-tab" data-toggle="tab">Compare Differences</a>
    </li>
    {{/editable}}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="html-tab">
      <div class="html-pane" {{#editable}}contenteditable="true"{{/editable}}>{{{html}}}</div>
    </div>
    {{#editable}}
    <div class="tab-pane" id="html-diff-tab">
      <div class="diff-pane">{{html}}</div>
    </div>
    {{/editable}}
  </div>
  {{#editable}}
  <div class="pull-right">
    <br/>
    <button class="btn btn-default save">Save</button>
  </div>
  {{/editable}}
</div>