<div class="tabbable">
  <ul class="nav nav-pills nav-justified">
    <li class="active">
      <a href="#html-tab" data-toggle="pill">HTML</a>
    </li>
    {{#editable}}
    <li>
      <a href="#html-diff-tab" data-toggle="pill">Compare Differences</a>
    </li>
    {{/editable}}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="html-tab">
      <div class="html-pane" {{#editable}}contenteditable="true" spellcheck="true"{{/editable}}>{{{html}}}</div>
    </div>
    {{#editable}}
    <div class="tab-pane" id="html-diff-tab">
      <div class="diff-pane">{{{html}}}</div>
    </div>
    {{/editable}}
  </div>
  {{#editable}}
  <p class="pull-left text-muted">
  Use <code>ctrl + right click</code> to correct spelling.
  </p>
  <div class="pull-right">
    <br/>
    <button class="btn btn-default save">Save</button>
  </div>
  {{/editable}}
</div>