<td>
  <span class="timestamp">{{timestamp}}</span>
</td>
<td>
  {{#author}}
  <a href="mailto:{{email}}">{{name}}</a>
  {{/author}}
</td>
<td>
  <a class="btn btn-small" href="{{downloadUrl}}" title="Download Version">
    <i class="icon-download-alt"></i>
    <span class="visible-desktop">Download</span>
  </a>
  &nbsp;
  {{#compareUrl}}
  <a class="btn btn-small" href="{{compareUrl}}" title="Compare Versions">
    <i class="icon-exchange"></i>
    <span class="visible-desktop">Compare</span>
  </a>
  {{/compareUrl}}
</td>