<td>
  <span class="timestamp">{{timestamp}}</span>
</td>
<td>
  {{#author}}
  <a href="mailto:{{email}}">{{name}}</a>
  {{/author}}
</td>
<td>
  <div class="visible-lg">
    <a href="{{downloadUrl}}" title="Download Version">
      <i class="icon-download-alt"></i> Download
    </a>
    &nbsp;
    {{#compareUrl}}
    <a href="{{compareUrl}}" title="Compare Versions">
      <i class="icon-exchange"></i> Compare
    </a>
    {{/compareUrl}}
  </div>
  <div class="hidden-lg">
    <a href="{{downloadUrl}}" title="Download Version">
      <i class="icon-download-alt"></i>
    </a>
    &nbsp;
    {{#compareUrl}}
    <a href="{{compareUrl}}" title="Compare Versions">
      <i class="icon-exchange"></i>
    </a>
    {{/compareUrl}}
  </div>
</td>