@main("Chart Reference") {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
    function colors(colors) {
      var result = '';
      $.each(colors, function(index, color) {
        result += '<div style="background-color:'+color+';width: 20px;height: 20px;display: inline-block;margin:4px"></div>';
      });
      return result;
    }

    function content(chartref) {
      var content = '<h2>'+chartref.label+'</h2>';
      content += '<p>type: '+chartref.type+'</p>';
      content += '<h3>chart configuration</h3>';
      if(chartref.defaults) {
        content += '<table style="border : 1px solid black"><tr><td colspan=3>attributes and their default values</td></tr>';
        $.each(chartref.defaults, function(key, val) {
            if(val['colors']) {
              content += '<tr><td>'+key+'</td><td>&rarr;</td><td>'+colors(val['colors'])+'</td>';
            } else {
              content += '<tr><td>'+key+'</td><td>&rarr;</td><td>'+val+'</td>';
            }
        });
        content += '</table><br>';
        content += '<table style="border : 1px solid black"><tr><td colspan=3>substitution keys supported by this chart</td></tr>';
        $.each(chartref.substitutions, function(key, val) {
            content += '<tr><td>'+key+'</td><td>&rarr;</td><td>'+val+'</td>';
        });
        content += '</table>';
      } else {
        content += '<p>chart configuration is not supported for this chart</p>';
      }
      content += '<h3>chart example</h3>';
      var imgSrc = '/assets/charts/'+chartref.type.toLowerCase()+'.svg';
      content += '<a href="'+imgSrc+'" target="_blank"><img src="'+imgSrc+'" width="250"></a>';
      return content;
    }
    $(function() {
        $.get( "/chartref/config", function( data ) {
          $.each(data, function( index, chartref ) {
            $( "#tabs ul" ).append('<li><a href="#tabs-'+index+'">'+chartref.label+'</a></li>')
            $( "#tabs" ).append('<div id="tabs-'+index+'">'+content(chartref)+'</div>');
          });
          $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
          $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
          $( "#tabs" ).tabs({ active: 0 });
        });
    });
    </script>
    <style>
    .ui-tabs-vertical { }
    .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
    .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
    .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
    .ui-tabs-vertical .ui-tabs-panel { padding: 1em; }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding: 0em; font-size: 75%; }
    </style>
<div id="tabs">
    <ul>
    </ul>
</div>
}
