@(
  postCall: play.api.mvc.Call,
  form: play.data.Form[models.User.ResetPassword]
)

@import helper.bootstrap3._

@main("Forgotten Password") {
  
  <div class="span12">
    <div class="page-header">
      <h1>Forgotten Password</h1>
    </div>
  
    <p></p>
  
    @helper.form(action = postCall) {
      @helper.bootstrap3.inputText(form("email"), args =
        'type -> "email",
        '_label -> "Email Address",
        '_help -> ""
      )
      <button type="submit" class="btn btn-primary">
        <i class="icon-envelope"></i> Send Reset Email
      </button>
    }
  </div>

}