@import views.html.Application.main

@main("AORRA Files and Folders", true) {
<div class="span4" id="sidebar"></div>
<div class="span8" id="main"></div>
<script src="@routes.Assets.at("js/lib/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("js/lib/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("js/lib/jquery.fileupload.js")"></script>
<script src="@routes.Assets.at("js/lib/glyphtree.js")"></script>
<script src="@routes.Assets.at("js/filemanager.js")"></script>
}
