@(
  form: play.data.Form[models.User.Invite],
  groups: Iterable[String]
)

@import scala.collection.JavaConversions.iterableAsScalaIterable;
@import helper.bootstrap3._

@main("Invite New User") {
  
  <div class="col-lg-12">
  <div class="page-header">
  <h1>Invite New User</h1>
  </div>
  
  @helper.form(action = controllers.routes.Application.postInvite) {
    @helper.bootstrap3.inputText(form("email"), args =
      '_label -> "Email",
      '_help -> ""
    )
    @helper.bootstrap3.inputText(form("name"), args =
      '_label -> "Name",
      '_help -> ""
    )
    
    <div class="form-group" id="groups[]">
      <label class="control-label" for="groups[]">Groups</label>
      <select class="form-control" name="groups[]" multiple>
        @for(group <- iterableAsScalaIterable(groups)) {
          <option value="@group">@group</option>
        }
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-envelope-o"></i> Invite
    </button>
  }
  </div>

}