@(
  form: play.data.Form[models.User.Invite]
)

@import helper.twitterBootstrap._

@main("Invite New User") {
  
  <div class="span12">
  <div class="page-header">
  <h1>Invite New User</h1>
  </div>
  
  <p class="alert">
    <i class="icon-warning-sign"></i>
    Any new users you invite will have the same privileges as yourself.
  </p>
  
  @helper.form(action = controllers.routes.Application.postInvite) {
    @helper.inputText(form("email"), args =
      '_label -> "Email",
      '_help -> ""
    )
    @helper.inputText(form("name"), args =
      '_label -> "Name",
      '_help -> ""
    )
    
    <button type="submit" class="btn btn-primary">
      <i class="icon-envelope-alt"></i> Invite
    </button>
  }
  </div>

}