@(
  form: play.data.Form[models.User.Invite],
  groups: Iterable[String]
)

@import scala.collection.JavaConversions.iterableAsScalaIterable;
@import helper.twitterBootstrap._

@main("Invite New User") {
  
  <div class="span12">
  <div class="page-header">
  <h1>Invite New User</h1>
  </div>
  
  @helper.form(action = controllers.routes.Application.postInvite) {
    @helper.inputText(form("email"), args =
      '_label -> "Email",
      '_help -> ""
    )
    @helper.inputText(form("name"), args =
      '_label -> "Name",
      '_help -> ""
    )
    
    <div class="clearfix" id="groups[]">
      <label for="groups[]">Groups</label>
      <div class="input">
        <select name="groups[]" multiple>
          @for(group <- iterableAsScalaIterable(groups)) {
            <option value="@group">@group</option>
          }
        </select>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">
      <i class="icon-envelope-alt"></i> Invite
    </button>
  }
  </div>

}