@(form: play.data.Form[models.User.Login])

@import helper.twitterBootstrap._

@inlineInput(field: play.data.Form.Field, inputType: String, icon: String, placeholder: String = "") = {
<div class="control-group @(if (field.errors.length > 0) {"error"})">
  <div class="input-prepend">
    <span class="add-on" title="@(field.name)">
      <i class="icon-@(icon)"></i>
    </span>
    <input class="input-medium" type="@inputType" id="@(field.id)"
      name="@(field.name)" value="@(field.value)" placeholder="@placeholder"/>
  </div>
</div>
}

@main("Login") {
  <script>
  $(function() {
    $('body').addClass("hero-page");
  });
  </script>
  
  <div class="hidden-phone" style="height: 10em"></div>
  
  <div class="span8 offset2">
  <div class="well">
  <h1 id="big-headline">
    AORRA
    <small>
      <span class="word"><span class="first">A</span>utomated</span>
      <span class="word"><span class="first">O</span>nline</span>
      <span class="word"><span class="first">R</span>eef</span>
      <span class="word"><span class="first">R</span>eport Card</span>
      <span class="word"><span class="first">A</span>pplication</span>
    </small>
  </h1>
  
  <div class="login-container">
  <br class="hidden-phone" />
  @helper.form(action = routes.Application.postLogin(), 'class -> "form-inline") {
    @inlineInput(form("email"), "text", "envelope", "your email address")
    @inlineInput(form("password"), "password", "asterisk", "your password")
    <button class="btn btn-primary" type="submit">
      <i class="icon-signin"></i> Login
    </button>
  }
  </div>
  </div>
  </div>
  
  <p class="attribution">
    <a href="#">
      <i class="icon-info-sign"></i> Background
    </a>
  </p>
  <div class="attribution-content">
    Derived from
    <a href="http://www.flickr.com/photos/sackerman519/4251310991/">
    original image
    </a>
    <a href="http://creativecommons.org/licenses/by/2.0/" 
       style="white-space: nowrap;">
      &copy; Some Rights Reserved
    </a>
    by
    <a href="http://www.flickr.com/photos/sackerman519/">Sarah Ackerman</a>
  </div>
  <script>
  $(function() {
    $('.attribution > a').popover({
      placement: "left",
      title: "Background Attribution",
      html: true,
      content: function() { return $('.attribution-content').html(); }
    });
  });
  </script>
  
    
    
  
}