@(
  postCall: play.api.mvc.Call,
  form: play.data.Form[models.User.ChangePassword]
)

@import helper.bootstrap3._

@main("Set Password") {
  
  <div class="span12">
  <div class="page-header">
  <h1>Set Password</h1>
  </div>
  
  @helper.form(action = postCall) {
    @helper.bootstrap3.inputPassword(form("password"), args =
      '_label -> "Password",
      '_help -> ""
    )
    @helper.bootstrap3.inputPassword(form("repeatPassword"), args =
      '_label -> "Confirm Password",
      '_help -> ""
    )
    <button type="submit" class="btn btn-primary">
      <i class="icon-check"></i> Done
    </button>
  }
  </div>

}