@(
user: Option[securesocial.core.Identity],
allUsers: Seq[securesocial.core.Identity]
)
@import play.mvc.Http.Context.Implicit

@main("AORRA") {
  <div class="row-fluid">
    <div class="span3">
      <h5>Existing Users</h5>
      <ul>
        @allUsers.map { user =>
          <li>@user.id.id</li>
        }
      </ul>
    </div>

    <div class="span9">
    @user match {
      case Some(u: securesocial.core.Identity) => {
        <p>
          <ul>
            <li>
              <a href="@controllers.routes.Application.userInfo">
              User Info (@u.id.id)
              </a>
            </li>
            <li>
              <a href="@controllers.routes.FileUpload.getUpload">
              File Upload Test
              </a>
            </li>
          </ul>
        </p>
      }
      case None => {
        <p>
          Login to see:
          <ul>
            <li>
              <a href="@controllers.routes.Application.userInfo">
              User Info
              </a>
            </li>
            <li>
              <a href="@controllers.routes.FileUpload.getUpload">
              File Upload Test
              </a>
            </li>
          </ul>
        </p>
      }
    }
    </div>
  </div>
}