@()

@main("file upload") {
<input id="fileupload" type="file" name="files[]" data-url="upload" multiple>
<script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>
}
