@(contributionFolders: Set[javax.jcr.Node])

@main("File Upload Test") {
<input id="fileupload" type="file" name="files[]" data-url="upload" multiple>

<dl>
  <dt>Contribution Folders</dt>
  <dd>
    <select id="folderselect">
    @for(folder <- contributionFolders) {
      <option>@folder.getName()</option>
    }
    </select>
  </dd>
  <dt>Existing Files</dt>
  <dd>
    @for(folder <- contributionFolders) {
      <dl>
        <dt>@folder.getName()</dt>
        @folder.getNodes.toSeq.asInstanceOf[Seq[javax.jcr.Node]].map { n =>
          @n.getPrimaryNodeType.getName match {
            case "nt:file" => {
              <dd>@n.getName</dd>
            }
            case _ => {}
          }
        }
      </dl>
    }
  </dd>
</dl>
</select>
<script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).insertAfter("#fileupload");
            });
        }
    });
    $('#folderselect').change(function() {
      $('#fileupload').fileupload(
          'option',
          'url',
          'upload/'+$(this).val()
      );
    });
});
</script>
}
