@import views.html.Application.main

@main("File Upload Test") {
<input id="fileupload" type="file" name="files[]" data-url="upload" multiple>

<dl>
  <dt>Upload to:</dt>
  <dd>
    <input type="text" disabled id="folderselect" value="/"/>
  </dd>
</dl>

<div id="filetree"></div>
<script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
<script src="@routes.Assets.at("javascripts/glyphtree.min.js")"></script>
<script>
var tree;
$(function () {
  $('#fileupload').fileupload({
    dataType: 'json',
    add: function (e, data) {
      $('#fileupload').fileupload(
        'option',
        'url',
        'upload'+$('#folderselect').val()
      );
      data.submit();
    },
    done: function (e, data) {
      $.each(data.result.files, function (index, file) {
        $('<p/>').text(file.name).insertAfter("#fileupload");
      });
    }
  });
  tree = glyphtree($('#filetree'), {
    startExpanded: true,
    types: {
      folder: {
        icon: {
          "default": {
            content: "\uf07b",
            'font-family': "FontAwesome"
          },
          expanded: {
            content: "\uf07c",
            'font-family': "FontAwesome"
          }
        }
      },
      file: {
        icon: {
          leaf: {
            content: "\uf016",
            'font-family': "FontAwesome"
          }
        }
      }
    }
  });
  selectHandler = function(event, node) {
    if (node.type == 'folder') {
      $('.label.label-success').removeClass('label label-success');
      $("#folderselect").val(node.attributes.path);
      $(node.element()).children('.glyphtree-node-label')
        .addClass('label label-success');
    }
  }
  tree.events.label.click = [selectHandler];
  $.get("@controllers.routes.FileStore.tree", function(data) {
    tree.load(data);
  });
  // EventSource
  var es = new EventSource('@controllers.routes.FileStoreAsync.notifications');
  es.onmessage = function (event) {
    console.debug(event);
  };
  es.addEventListener('create', function(event) {
    var struct = JSON.parse(event.data);
    console.debug(event.type, struct);
    tree.add(struct, struct.parentId);
  });
  es.addEventListener('update', function(event) {
    var struct = JSON.parse(event.data);
    console.debug(event.type, struct);
    tree.update(struct);
  });
  es.addEventListener('delete', function(event) {
    var struct = JSON.parse(event.data);
    console.debug(event.type, struct);
    tree.remove(struct.id);
  });
});
</script>
}
